<a asp-controller="@Model" asp-action="Create" class="btn btn-dark" style="position:fixed;right:25px;bottom:20px;">
    <i class="bi bi-file-earmark-plus-fill"></i>
    <span style="padding-right:5px;"></span>
    Create New
</a>