#order-form{
    z-index:-2;
}

.checkout-header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-items: center;
    width: 100%;
    margin: auto;
}

.checkout-card-body {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin: 0 auto; 
    gap: 30px;
    width: 100%;
    height: 100vh;
    padding-top: 10px
}
/*Left*/
.checkout-card-bodyLeft {
    overflow: hidden;
    width: 50%;
    padding: 10px;
}

/*Inputs*/
.form-group {
    margin-top: 5px;
}

.form-control.text-black.border-dark:focus {
    outline-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.3);
}

.control-label.text-black {
    font-size: 12px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: black !important;
}
/*Right*/
.checkout-card-bodyRight {
    width: 50%;
}

.checkout-product-Item {
    overflow: hidden;
    width: 100%;
    height: 115px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.checkout-productLeft-Item {
    overflow: hidden;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkout-imgItem-Wrapper {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.checkout-productRight-Item {
    overflow: hidden;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    line-height: 1.5;
}

.checkout-card-bodyRight-Top {
    overflow: hidden;
    width: 100%;
    height: 70%;
}

.checkout-card-bodyRight-topWrapper {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
}

    .checkout-card-bodyRight-topWrapper::-webkit-scrollbar {
        width: 0px;
    }

    .checkout-card-bodyRight-topWrapper::-webkit-scrollbar-track {
        background: transparent;
    }

    .checkout-card-bodyRight-topWrapper::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.3);
        border-radius: 6px;
    }

.checkout-card-bodyRight-Bottom {
    overflow: hidden;
    width: 100%;
  /*  height: 28%;*/
}

#placeOrderBtn {
    box-shadow: none;
    width: 35%;
    background-color: black;
    color: white;
    border-radius: 0;
    margin-top: 5px;
    border: 2px black solid;
    padding: 3px;
    text-align: center;
}
